{% extends "_layout.twig" %} 
{% set bodyAttributes ={ class: "portfolio" } %} 
{% set docTitle = entry.title %} 
{% set metaDesc = entry.metaDescription %} 

{% block content %} 
    <div class="p-[20px] lg:p-[4vw]">
        <div class="w-full pb-[5%]">
            
        </div>

        <div class="flex flex-col md:flex-row">
            <div class="w-full md:w-1/2 lg:w-[40%] md:pe-[6%] pb-[20px] md:pb-0">
                {% if entry.title %} 
                    <h1 class="uppercase mb-[20px]">{{entry.title}}</h1>
                {% endif %} 
                {% if entry.projectSummary %} 
                    {{entry.projectSummary}}
                {% endif %}
            </div>
             <div class="w-full md:w-1/2 lg:w-[60%]">
                {% set images = entry.projectImages %}
                {% if images | length %}
                    {% for image in images %}
                        {% if image and image.cloudflareCode %}
                            <img src="https://imagedelivery.net/51czeTzEvIhO69gVCPWJSw/{{ image.cloudflareCode }}/public" 
                                class="group-hover:opacity-10 transition delay-150 duration-300 ease-in w-full pb-[20px]"  
                                loading="lazy" 
                                alt="{{ image.alt | default('Placeholder') }}">
                        {% else %}
                            <img src="{{image.getUrl()}}" 
                                class="group-hover:opacity-10 transition delay-150 duration-300 ease-in w-full pb-[20px]"  
                                loading="lazy" 
                                alt="{{ image.alt | default('Placeholder') }}">
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}