{# Create a category query with the 'group' parameter #}
{% set navQuery = craft.categories()
  .group('portfolioCategories') %}

{# Fetch the categories #}
{% set categories = navQuery.all() %}

<nav class="flex flex-col md:flex-row items-center justify-between w-full px-[20px] py-[10px] bg-[#011d22]">
    <a class="py-[10px] flex flex-row items-center" href="{{siteUrl}}" aria-label="Branded site logo, redirect to home page">
        <div class="w-[60px] md:w-[80px]">
            <svg class="icon pe-[20px]" x="0px" y="0px" viewBox="0 0 58.9 58.5" style="enable-background:new 0 0 58.9 58.5;" >
                <path class="st0" fill="#{{globals.iconLogoColor}}" d="M29.4,0.4c-16,0-29,13-29,29s13,29,29,29s29-13,29-29S45.5,0.4,29.4,0.4z M43.5,17.8c-1.5,1.8-1.8,3-1.8,5.5
                    v11.1c0,2.8,0.3,4.6,1.1,6.7h-7.1c0.8-2.1,1.1-3.8,1.1-6.7v-8.2L30,34.5l-7.1-8.7v8.6c0,2.8,0.3,4.6,1.1,6.7h-7.1
                    c0.8-2.1,1.1-3.8,1.1-6.7V20.6c-0.7-1-1.7-2-2.5-2.7l0,0h7.4c0.3,1.1,0.7,1.7,1.9,3.2l5.2,6.5l5.9-7.4c0.8-1,1.2-1.6,1.5-2.3h6.1
                    V17.8z"/>
            </svg>
        </div>
        <div class="w-[260px] md:w-[400px]">
            <svg x="0px" y="0px" viewBox="0 0 466.6 25.4"  fill="#{{globals.iconLogoColor}}">
                <polygon class="st0" points="11,17.9 10.9,17.9 3.8,1.2 0.6,1.2 0.6,24 3.6,24 3.6,7.4 3.7,7.4 9.8,21.4 12.1,21.4 18.2,7.4 
                    18.3,7.4 18.3,24 21.3,24 21.3,1.2 18.1,1.2 "/>
                <path class="st0" d="M40.2,1.2L32,24h3.2l2-5.8h9l2,5.8h3.2L43.3,1.2H40.2z M38.1,15.6L41.7,5l0,0l3.7,10.6H38.1z"/>
                <polygon class="st0" points="59.3,3.9 66.2,3.9 66.2,24 69.3,24 69.3,3.9 76.1,3.9 76.1,1.2 59.3,1.2 "/>
                <polygon class="st0" points="85.6,3.9 92.4,3.9 92.4,24 95.6,24 95.6,3.9 102.4,3.9 102.4,1.2 85.6,1.2 "/>
                <polygon class="st0" points="127.6,11.3 116.6,11.3 116.6,1.2 113.5,1.2 113.5,24 116.6,24 116.6,14 127.6,14 127.6,24 130.8,24 
                    130.8,1.2 127.6,1.2 "/>
                <polygon class="st0" points="144.1,24 159.4,24 159.4,21.3 147.2,21.3 147.2,13.9 158.4,13.9 158.4,11.2 147.2,11.2 147.2,4 
                    159.4,4 159.4,1.2 144.1,1.2 "/>
                <polygon class="st0" points="189.9,19.4 189.9,19.4 184.9,1.2 182.2,1.2 177,19.4 176.9,19.4 173.6,1.2 170.4,1.2 175,24 178.2,24 
                    183.5,5.8 183.6,5.8 188.6,24 191.8,24 196.4,1.2 193.2,1.2 "/>
                <polygon class="st0" points="211.7,1.2 208.1,4.9 208.1,20.4 211.7,24 221.9,24 225.4,20.5 225.4,17.9 222.3,17.9 222.3,19.4 
                    220.4,21.3 213.2,21.3 211.2,19.3 211.2,6 213.2,4 220.4,4 222.3,5.9 222.3,7.3 225.4,7.3 225.4,4.8 221.9,1.2 "/>
                <polygon class="st0" points="241.4,1.2 238.3,1.2 238.3,24 252.9,24 252.9,21.3 241.4,21.3 "/>
                <rect x="265.3" y="1.2" class="st1" width="3.1" height="22.8"/>
                <polygon class="st0" points="290.4,20.3 290.4,20.3 284,1.2 280.7,1.2 288.8,24 292,24 300.1,1.2 296.8,1.2 "/>
                <polygon class="st0" points="312.3,24 327.5,24 327.5,21.3 315.4,21.3 315.4,13.9 326.6,13.9 326.6,11.2 315.4,11.2 315.4,4 
                    327.5,4 327.5,1.2 312.3,1.2 "/>
                <polygon class="st0" points="357.5,1.2 354.1,1.2 348.3,11.3 343.7,11.3 343.7,1.2 340.5,1.2 340.5,24 343.7,24 343.7,14 348.3,14 
                    354.5,24 358,24 351,12.6 "/>
                <polygon class="st0" points="370.1,24 385.3,24 385.3,21.3 373.2,21.3 373.2,13.9 384.4,13.9 384.4,11.2 373.2,11.2 373.2,4 
                    385.3,4 385.3,1.2 370.1,1.2 "/>
                <polygon class="st0" points="401.5,1.2 398.3,1.2 398.3,24 413,24 413,21.3 401.5,21.3 "/>
                <polygon class="st0" points="428.3,1.2 425.2,1.2 425.2,24 439.8,24 439.8,21.3 428.3,21.3 "/>
                <polygon class="st0" points="462.1,1.2 456,11.7 456,11.7 449.8,1.2 446.5,1.2 454.4,14.6 454.4,24 457.6,24 457.6,14.6 465.5,1.2 
                    "/>
            </svg>
        </div>
    </a>

    <div class="flex flex-row">
        {% nav category in categories %}
            <a class="p-[10px] uppercase text-white hover:text-gray-400 font-light tracking-[6px]" href="{{ category.url }}">{{ category.title }}</a>
        {% endnav %}
    </div>
</nav>
