

<div class="flex flex-col md:flex-row md:flex-wrap overflow-hidden">
{% if page|length %}
{% for entry in page %} 
        <a href="{{ entry.slug }}" class="w-full h-[100vw] md:max-w-[50%] md:h-[50vw] lg:max-w-[25%] lg:h-[25vw] relative group overflow-hidden">
        <div class="media-box">
            {% set image = entry.mainImage.one() %}
            {% if image and image.cloudflareCode %}
                <img src="https://imagedelivery.net/51czeTzEvIhO69gVCPWJSw/{{image.cloudflareCode}}/public" 
                class="group-hover:opacity-10 transition delay-150 duration-300 ease-in w-full"  
                loading="lazy" 
                alt="{{ image.alt|default('Placeholder') }}"
                >
            {% else %}
                <img src="{{image.getUrl()}}" 
                    class="group-hover:opacity-10 transition delay-150 duration-300 ease-in w-full"  
                    loading="lazy" 
                        alt="{{ image.alt | default('Placeholder') }}"
                    >
            {% endif %}
            </div>
            <div class="w-full h-full absolute top-0 left-0 flex flex-col items-center justify-center">
                <h2 class="text-white text-center opacity-0 group-hover:opacity-100 transition-opacity delay-150 duration-300 ease-in uppercase pt-[20px] px-[20px] lg:px-[4vw] lg:pt-[4vw] mb-[20px]">
                    {% if entry.title %}
                        {{entry.title}}
                    {% endif %}
                </h2>
                <p class="text-white text-center text-sm opacity-0 group-hover:opacity-100 transition-opacity delay-150 duration-300 ease-in uppercase  pb-[20px] px-[20px] lg:px-[4vw] lg:pb-[4vw] text-balance">                
                    {% if entry.subtitle %}
                        {{entry.subtitle}}
                    {% endif %}
                </p>
            </div>
        </a>
    {% endfor %} 
    {% else %}
    <div class="flex w-full h-[100vh] justify-center items-center">
        <h2 class="text-white">Sorry, no work in this category</h2>
    <div>
{% endif %}
</div>



